pipeline/Incremental_Loop_Pipeline.json
{
	"name": "Incremental_Loop_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEachFILE",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.loop_input",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupCDC",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Json_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"folder": {
											"value": "@{item().table}_CDC",
											"type": "Expression"
										},
										"file": "cdc.json"
									}
								}
							}
						},
						{
							"name": "CheckNewRows",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "LookupCDC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "select count(1) as total_count from @{item().schema}.@{item().table} where @{item().cdc_col} > \n    '@{if(\n        empty(item().backdate),\n        activity('LookupCDC').output.firstRow.cdc_timestamp,item().backdate)}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "IfNewRowsExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "CheckNewRows",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('CheckNewRows').output.resultSets[0].rows[0].total_count,1 )",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopySQLtoLake",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "CurrentTimestamp",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select * from @{item().schema}.@{item().table} where @{item().cdc_col} > '@{if(empty(item().backdate),activity('LookupCDC').output.firstRow.cdc_timestamp,item().backdate)}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "azure_sql",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Parquet_Dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(item().table,'_',variables('current'))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "CurrentTimestamp",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "current",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "MaxCDC",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "CopySQLtoLake",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT MAX(@{item().cdc_col}) AS MAX_CDC from\n@{item().schema}.@{item().table}\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "UpdateCDC",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "MaxCDC",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "CURRENT",
														"value": {
															"value": "@activity('MaxCDC').output.resultSets[0].rows[0].max_cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Json_Dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@{item().table}_CDC",
														"type": "Expression"
													},
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Json_Dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": "bronze",
													"folder": {
														"value": "@{item().table}_CDC",
														"type": "Expression"
													},
													"file": "cdc.json"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"loop_input": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_col": "updated_at",
						"backdate": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_col": "updated_at",
						"backdate": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_col": "date",
						"backdate": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_col": "updated_at",
						"backdate": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_col": "stream_timestamp",
						"backdate": ""
					}
				]
			}
		},
		"variables": {
			"current": {
				"type": "String"
			},
			"cdc_timestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}